html,
body {
    position: relative;
    background: #FFFFFF;
    display: block;
}

.main_body {
    position: absolute;
    top: 170px;
    left: 93px;
    width: 90%;
    display: -webkit-inline-box;
}

.header {
    position: absolute;
    width: 90%;
    left: 93px;
    top: 46px;
    display: -webkit-inline-flex;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.prj_header {
    /*position: absolute;*/
    width: 60%;
    height: 100%;
    left: 93px;
    top: 46px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    color: #000000;
}

.navigation {
    align-items: center;
    display: -webkit-inline-flex;
}

.algo_type {
    /*position: absolute;*/
    width: 148px;
    height: 43px;
    left: 725px;
    top: 63px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #838383;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.left_main_subpart {
    margin-right: 30px;
    width: 35%;
    display: block;
    margin-bottom: 40px;
}

.right_main_subpart {
    width: 65%;
    display: block;
    margin-bottom: 40px;
}

.info_block {
    height: 70%;
    top: 174px;
}

.complexity_block {
    height: 30%;
    margin-top: 30px;
    display: block;
}

.algo_name {
    margin-bottom: 20px;
    left: 127px;
    top: 174px;
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #000000;
}

.algo_description {
    left: 127px;
    top: 241px;
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: #000000;
}

.complexity_title {
    left: 127px;
    top: 587px;
    font-family: 'Proza Libre';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

.complexity_type {
    display: flex;
}

.array_input {
    height: 20%;
}

.elements_input {
    box-sizing: border-box;
    width: 744px;
    height: 54px;
    left: 687px;
    top: 180px;
    background: #FFFFFF;
    border: 1px solid #838383;
    border-radius: 10px;
}

.size_generation {
    margin-top: 20px;
    display: -webkit-inline-box;
}

.array_size {
    margin: 0;
    display: inline;
}

.generate {
    margin-left: 15px;
    width: 577px;
    height: 42px;
    left: 854px;
    top: 268px;
    background: #50C878;
    border-radius: 10px;
    cursor: pointer;
}

.size_input {
    box-sizing: border-box;
    width: 38px;
    height: 41px;
    left: 794px;
    top: 268px;
    background: #FFFFFF;
    border: 1px solid #838383;
    border-radius: 6px;
}

.text_generate_button {
    display: flex;
    width: 162.33px;
    height: 33px;
    left: 1063.55px;
    top: 273px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: contents;
    align-items: center;
    color: #FFFFFF;
}

.elements_visualization {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num_box {
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    box-sizing: border-box;
    width: 101px;
    height: 100px;
    left: 896px;
    top: 397px;
    background: #FFFFFF;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 14px;
}

.algo_navigation {
    display: flex;
}

.speed {
    width: 75%;
    margin-top: 20px;
}

.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.run {
    width: 46px;
    height: 46px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 26px 0px 26px 46px;
    border-color: transparent transparent transparent #202020;
    background: transparent;
    cursor: pointer;
}

.rerun {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}