/* Global */

.algo_demo {
    display: inline-block;
    width: 50%;
}

/* Input Field */

.array_input {
}

.elements_input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    /* width: 744px;
    height: 54px; */
    font-size: 20px;
    
    background: #FFFFFF;
    border: 1px solid #838383;
    border-radius: 10px;
    outline: none;
}

/* Array Generation */

.size_generation {
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.array_size {
    margin: 0;
    /* display: inline-block; */
    width: 30%;
    text-align: left;
}

.array_size_text {
    /* font-size: 18px; */
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Open Sans';
    line-height: 33px;
    text-align: justify;
    color: #000000;
}

.generate_button_wrapper {
    width: 70%;
}

.generate_button {
    /* width: 577px; */
    /* display: inline-block; */
    width: 100%;
    padding: 10px;
    background: #50C878;
    border-radius: 10px;
    cursor: pointer;
    border: none;

    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.size_input {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #838383;
    border-radius: 6px;
    outline: none;
    font-size: 20px;
    text-align: center;
}

/* Box Container */

.elements_visualization {
    height: 200px;
    padding: 50px 50px 0 50px;
    display: flex;
    /* overflow-x: scroll; */
    /* overflow-x: visible; */
    justify-content: center;
}

.elements_visualization_wrapper {
    overflow-x: scroll;
}

/* Box */
.num_box {
    display: inline-block;
    margin: 0 20px;
    aspect-ratio: 1/1;
    width: 50px;
    height: 50px;
    background: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  /* Same as div width */
    border: 1px solid #000000;
    border-radius: 14px;
    /* Temporary */
    margin-top: 40px;
}

/* Algo Controls */

.algo_navigation {
    display: block;
}

.playback_control {
    display: inline-block;
    padding: 20px;
}


.slider_wrapper {
    display: inline-block;
    width: 80%;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 1000px) {
    .algo_demo {
        display: block; 
        width: 100%;
        margin-top: 50px;
    }

    .elements_visualization {
        justify-content: start;
    }

    .array_size {
        font-size: 12px;
    }
}

@media (max-width: 660px) {
    .size_generation {
        flex-direction: column-reverse;
    }

    .generate_button_wrapper {
        width: 100%;
    }
    
    .array_size {
        width: 100%;
        padding: 10px 0;
    }
}

@media (max-width: 375px) {
    .elements_input {
        font-size: 15px;
    }

    .generate_button {
        font-size: 15px;
    }

    .array_size_text {
        font-size: 15px;
    }

    .size_input {
        font-size: 15px;
        width: 30px;
        height: 30px;
    }
}