.info_block {
    font-family: 'Proza Libre';
    display: inline-block;
    width: 40%;
}

.algo_name {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #000000;
}

.algo_description {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: justify;
    color: #000000;
}

.complexity_block {

}

.complexity_title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #000000;
}

.complexity_type {
    display: flex;
}

@media (max-width: 1000px) {
    .info_block {
        display: block;
        width: 100%;
        margin: 50px 0;
    }
}