.App {
  text-align: center;
  margin: 0;
  padding: 0 100px;
}

.main_body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .main_body {
      flex-direction: column-reverse;
  }
}